#home {
	background: url('../../assets/home/homepg-bkgr-text.jpg');
	//background-size: cover;
	height: 100%;
}

#home-btn-explore,
#home-btn-game {
	height: 528px;
	width: 557px;
	position: absolute;
	border: none;
	top: 310px;
}


#home-btn-explore {
	background: url('../../assets/home/BOTW-btn.png');
	height: 528px;
	width: 557px;
    left: 345px;
    background-size: cover;
}

#home-btn-game {
	background: url('../../assets/home/BC-btn.png');
	background-size: cover;
	height: 582px;
	width: 584px;
	left: 1006px;

}

.home-panda {
	position: absolute;
    top: 500px;
    left: 527px;
    height: 626px;
    width: auto;
    z-index: 3;
}

.game-label {
	position: absolute;
	left: 0px;
	top: 103px;
}


#game-map {
	background: url('../../assets/game/BC-bkgr-blank.jpg');
	background-size: cover;
	background-color: #dedede;
	width: 100%;
	height: 1000px;
}

#game-btn-wrapper {
	background: url('../../assets/game/navbar.png');
	background-size: cover;
	width: 100%;
	height: 217px;
	position: absolute;
	bottom: 0px;
}

.reset-btn {
	position: absolute;
	background: url('../../assets/game/BC-home-btn.png');
	background-size: cover;
	width: 134px;
	height: 77px;
    left: 50px;
    margin-top: 97px;
    border: none;
}

.reset-btn-explore {
	position: absolute;
	background: url('../../assets/explore/btn-home.png');
	background-size: cover;
	width: 134px;
	height: 77px;
    left: 50px;
    top: 950px;
    border: none;
}

#game-reset-btn {
	position: absolute;
	background: url('../../assets/game/BC-startover-btn.png');
	background-size: cover;
	width: 150px;
	height: 77px;
    right: 50px;
    margin-top: 97px;
    border: none;
}

#game-complete {
	background: url('../../assets/game/BC-complete-popup-bkgr.png');
	background-size: cover;
	position: absolute;
	width: 76%;
	height: 86%;
	top: 6%;
	left: 12%;
	z-index: 2;
	padding: 10%;
	color: #fff;
	.botw-btn {
		background: url('../../assets/game/BOTW-btn.png');
		background-size: cover;
		height: 400px;
		width: 700px;
		display: block;
		margin: 100px auto 0;
		border: none;
	}
}




