#game-map {
	background-color: #dedede;
	width: 100%;
	height: 700px;
}

.reset-btn {
	position: absolute;
    right: 25px;
    margin-top: 50px;
}

.game-reset-btn {
	position: absolute;
    left: 25px;
    margin-top: 50px;
}



