.draggable-widget {
	width: 110px;
	height: 110px;
	background-color: transparent;
	border-radius: 50%;
	//z-index: 2;
	position: absolute;
}

.droppable-widget {
	//background: url('../../assets/game/empty-btn.png');
	background-size: cover;
	width: 138px;
	height: 138px;
	background-color: transparent;
	border-radius: 50%;
	position: absolute;
	//z-index: 2;
}

.empty-btn {
	height: 138px;
	width: 138px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.draggable-widget-content {
	color: transparent;
}

.draggable-widget-holder[data-bear="1"],
.draggable-widget[data-bear="1"] {
	top: 76px;
	left: 267px;
}

.draggable-widget[data-species="sun"] {
	background: url('../../assets/game/SunBear-btn-lg.png');
	background-size: cover;

    &:hover, &:focus, &:active {
        background-image: url('../../assets/game/SunBear-btn-down-lg.png');
    }
}

.draggable-widget-holder[data-bear="2"],
.draggable-widget[data-bear="2"] {
	top: 76px;
	left: 448px;
}


.draggable-widget[data-species="panda"] {
	background: url('../../assets/game/GiantPanda-btn-lg.png');
	background-size: cover;

    &:hover, &:focus, &:active {
        background-image: url('../../assets/game/GiantPanda-btn-down-lg.png');
    }
}

.draggable-widget-holder[data-bear="3"],
.draggable-widget[data-bear="3"] {
	top: 76px;
	left: 630px;
}

.draggable-widget[data-species="sloth"] {
	background: url('../../assets/game/SlothBear-btn-lg.png');
	background-size: cover;

    &:hover, &:focus, &:active {
        background-image: url('../../assets/game/SlothBear-btn-down-lg.png');
    }
}

.draggable-widget-holder[data-bear="4"],
.draggable-widget[data-bear="4"] {
	top: 76px;
	left: 811px;
}

.draggable-widget[data-species="andean"] {
	background: url('../../assets/game/AndeanBear-btn-lg.png');
	background-size: cover;

    &:hover, &:focus, &:active {
        background-image: url('../../assets/game/AndeanBear-btn-down-lg.png');
    }
}

.draggable-widget-holder[data-bear="5"],
.draggable-widget[data-bear="5"] {
	top: 76px;
	left: 994px;
}

.draggable-widget[data-species="asiatic"] {
	background: url('../../assets/game/AsiaticBear-btn-lg.png');
	background-size: cover;

    &:hover, &:focus, &:active {
        background-image: url('../../assets/game/AsiaticBear-btn-down-lg.png');
    }
}

.draggable-widget-holder[data-bear="6"],
.draggable-widget[data-bear="6"] {
	top: 76px;
	left: 1175px;
}

.draggable-widget[data-species="american"] {
	background: url('../../assets/game/AmericanBlackBear-btn-lg.png');
	background-size: cover;

    &:hover, &:focus, &:active {
        background-image: url('../../assets/game/AmericanBlackBear-btn-down-lg.png');
    }
}

.draggable-widget-holder[data-bear="7"],
.draggable-widget[data-bear="7"] {
	top: 76px;
	left: 1357px;
}

.draggable-widget[data-species="brown"] {
	background: url('../../assets/game/BrownBear-btn-lg.png');
	background-size: cover;

    &:hover, &:focus, &:active {
        background-image: url('../../assets/game/BrownBear-btn-down-lg.png');
    }
}

.brown-bear-marker {
	background: url('../../assets/game/BrownBear-btn-lg.png');
	background-size: cover;
	width: 110px;
	height: 110px;
	background-color: transparent;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	left: 14px;
    top: 15px;
}

.draggable-widget-holder[data-bear="8"],
.draggable-widget[data-bear="8"] {
	top: 76px;
	left: 1537px;
}

.draggable-widget[data-species="polar"] {
	background: url('../../assets/game/PolarBear-btn-lg.png');
	background-size: cover;

    &:hover, &:focus, &:active {
        background-image: url('../../assets/game/PolarBear-btn-down-lg.png');
    }
}


.draggable-widget-holder {
	width: 110px;
	height: 110px;
	background-color: transparent;
	border-radius: 50%;
	position: absolute;
}

.correct-answer,
.hint-1, .hint-2 {
	position: absolute;
    width: 350px;
    z-index: 2;
   
}
.correct-answer {
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.4);
    left: 63px;
    top: 6px;
}

.hint-1, .hint-2 {
	z-index: 2;
	left: 57px;
	top: 3px;
}


.hint-wrapper {
	background-color: rgba(106, 93, 64, 0.85);
	padding: 1px 20px 20px 100px;
	color: white;
	position: relative;
	top: -3px;
	h2 {
		font-family: $happy-fox;
		letter-spacing: 1px;
		font-size: 40px;
	}
	p {
		font-family: $neris-light;
		font-size: 16px;

	}

}

.hint-overlay {
	position: absolute;
	height: 138px;
	width: 138px;
	background-color: rgba(106, 93, 64, 0.85);
	background-image: url('../../assets/game/empty-btn.png');
	background-size: cover;
	left: -57px;
	top: -3px;
	border-radius: 50%;
	z-index: 6;
	h2 {
		font-family: $happy-fox;
		letter-spacing: 1px;
		font-size: 40px;
	}
	p {
		font-family: $neris-light;
		font-size: 16px;

	}
}

.correct-answer {
	img {
		position: relative;
		width: 100%;
	}
}

.correct-wrapper {
	background-color: rgba(106, 93, 64, 0.85);
	padding: 1px 20px 20px 80px;
	color: white;
	position: relative;

	h2 {
		font-family: $happy-fox;
		letter-spacing: 1px;
		font-size: 40px;
	}
	p {
		font-family: $neris-light; // $neris-semibold
		font-size: 16px;

	}
}

.correct-overlay {
	position: absolute;
	height: 110px;
	width: 110px;
	//background-color: rgba(106, 93, 64, 0.85);
	background-size: cover;
	left: -50px;
	top: 8px;
	border-radius: 50%;
	//z-index: 6;

}

#polar-ring, 
#brown-ring, 
#american-ring,
#asiatic-ring,
#andean-ring,
#sloth-ring,
#panda-ring,
#sun-ring {
	fill: transparent;
}



.ring-shadow {
	 filter: drop-shadow(0px 0px 10px $black);
}

.bear-ring {
	height: 140px;
    left: -15px;
    bottom: 45px;
    position: relative;
}

//active class for draggable
.ui-draggable-dragging {
	#polar-ring {
		fill: $polar;
	}
	#brown-ring {
		fill: $brown;
	}
	#american-ring {
		fill: $american;
	}
	#asiatic-ring {
		fill: $asiatic;
	}
	#andean-ring {
		fill: $andean;
	}
	#sloth-ring {
		fill: $sloth;
	}
	#panda-ring {
		fill: $panda;
	}
	#sun-ring {
		fill: $sun;
	}

}

.dragged {
	#polar-ring {
		fill: $polar;
		filter: drop-shadow(0px 0px 10px $polar);
	}
	#brown-ring {
		fill: $brown;
		filter: drop-shadow(0px 0px 10px $brown);
	}

	#brown-ring2 {
		fill: $brown;
		filter: drop-shadow(0px 0px 10px $brown);
	}

	.brown-bear-ring {
		fill: $brown !important;
		filter: drop-shadow(0px 0px 10px $brown);
	}

	#american-ring {
		fill: $american;
		filter: drop-shadow(0px 0px 10px $american);
	}
	#asiatic-ring {
		fill: $asiatic;
		filter: drop-shadow(0px 0px 10px $asiatic);
	}
	#andean-ring {
		fill: $andean;
		filter: drop-shadow(0px 0px 10px $andean);
	}
	#sloth-ring {
		fill: $sloth;
		filter: drop-shadow(0px 0px 10px $sloth);
	}
	#panda-ring {
		fill: $panda;
		filter: drop-shadow(0px 0px 10px $panda);
	}
	#sun-ring {
		fill: $sun;
		filter: drop-shadow(0px 0px 10px $sun);
	}


}

.brown-bear-ring {
	fill: $brown !important;
	filter: drop-shadow(0px 0px 10px $brown);
}