.draggable-widget {
	width: 100px;
	height: 100px;
	background-color: #1f68dd;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.droppable-widget {
	width: 105px;
	height: 105px;
	background-color: transparent;
	border: 5px solid #1f68dd;
	border-radius: 50%;
	position: absolute;
}

.droppable-widget[data-bear="1"] {
	top: 300px;
	left: 100px;
} 