.draggable-widget {
	width: 100px;
	height: 100px;
	background-color: #1f68dd;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	position: absolute;
}

.droppable-widget {
	width: 100px;
	height: 100px;
	background-color: transparent;
	border: 5px solid #1f68dd;
	border-radius: 50%;
	position: absolute;
}

.draggable-widget-holder[data-bear="1"],
.draggable-widget[data-bear="1"] {
	top: 715px;
	left: 300px;
}

.draggable-widget-holder[data-bear="2"],
.draggable-widget[data-bear="2"] {
	top: 715px;
	left: 400px;
}

.draggable-widget-holder[data-bear="3"],
.draggable-widget[data-bear="3"] {
	top: 715px;
	left: 500px;
}

.draggable-widget-holder[data-bear="4"],
.draggable-widget[data-bear="4"] {
	top: 715px;
	left: 600px;
}

.draggable-widget-holder[data-bear="5"],
.draggable-widget[data-bear="5"] {
	top: 715px;
	left: 700px;
}

.draggable-widget-holder[data-bear="6"],
.draggable-widget[data-bear="6"] {
	top: 715px;
	left: 800px;
}

.draggable-widget-holder[data-bear="7"],
.draggable-widget[data-bear="7"] {
	top: 715px;
	left: 900px;
}

.draggable-widget-holder[data-bear="8"],
.draggable-widget[data-bear="8"] {
	top: 715px;
	left: 1000px;
}







.draggable-widget-holder {
	width: 100px;
	height: 100px;
	background-color: lighten(#1f68dd, 30%);
	border-radius: 50%;
	position: absolute;
}

.correct-answer,
.hint-1, .hint-2 {
	position: absolute;
    left: 100px;
    width: 200px;
    background-color: rgba(250, 250, 250,0.5);
    padding: 15px;
    z-index: 2;
}