@font-face {
  font-family: 'Happy-Fox';
  src: url('../../assets/fonts/Happy-Fox/HappyFox-Condensed.otf'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neris-SemiBold";
  src: url('../../assets/fonts/Neris/Neris-SemiBold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neris-Black";
  src: url('../../assets/fonts/Neris/Neris-Black.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neris-SemiBold-Italic";
  src: url('../../assets/fonts/Neris/Neris-SemiBoldItalic.otf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
	font-family: "True-North-Textures-Bold";
	src: url('../../assets/fonts/TrueNorthTextures/TrueNorthTxtrs-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "SerifaBT-Black";
  src: url('../../assets/fonts/SerifaBT/SERIFAB.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SerifaBT";
  src: url('../../assets/fonts/SerifaBT/SerifaBT.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SerifaBT-Italic';
  src: url('../../assets/fonts/SerifaBT/SERIFAI.TTF');
  font-weight: normal;
  font-style: normal;
}
