@font-face {
  font-family: 'Happy-Fox';
  src: url('../../assets/fonts/Happy-Fox/HappyFox-Condensed.otf'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neris-SemiBold";
  src: url('../../assets/fonts/Neris/Neris-SemiBold.oft');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "True-North-Textures-Bold";
	src: url('../../assets/fonts/TrueNorthTextures/TrueNorthTxtrs-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}
